@font-face {
  font-family: Roboto-Black;
  src: url(../fonts/Roboto-Black.ttf);
}
@font-face {
  font-family: Roboto-Bold;
  src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: Roboto-Regular;
  src: url(../fonts/Roboto-Regular.ttf);
}
.container {
  max-width: 1060px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  background-color: #F2726F;
  font-family: Roboto-Bold;
  font-size: 12px;
  padding: 17px 30px;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
}
.btn:hover {
  display: flex;
  width: 210px;
  height: 48px;
  background: url(../img/Button.png) no-repeat right;
}

.main {
  background-image: url(../img/bg-main.png);
  height: 800px;
  background-position: center;
  background-size: cover;
}
.main_title {
  font-family: Roboto-Black;
  font-size: 56px;
  color: #fff;
  width: 583px;
  margin-bottom: 25px;
}
.main_info {
  padding-top: 300px;
}

.glaw_and {
  height: 134px;
  width: 583px;
}
.glaw_and_logo {
  width: 27px;
  height: 27px;
}
.glaw_and_h2 {
  padding-top: 33px;
}

h2 {
  font-size: 36px;
  font-family: Roboto-Black;
  line-height: 42px;
}

.about_wrap {
  height: 700px;
  background-color: #5D62B5;
  border-radius: 40px;
  margin-top: -80px;
  position: relative;
}
.about_wrap_who {
  display: flex;
}
.about_wrap_who_p {
  font-size: 12px;
  font-family: Roboto-Bold;
  line-height: 24px;
  letter-spacing: 2.5px;
}
.about_wrap_frame {
  padding: 87px;
  width: 846px;
  color: #fff;
}
.about_wrap_frame_p {
  font-family: Roboto-Regular;
  line-height: 24px;
  letter-spacing: 0.15px;
  font-size: 16px;
  padding-top: 33px;
}
.about_dots {
  position: absolute;
  top: -110px;
  right: -70px;
}
.about_dog {
  background-repeat: 40px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -120px;
  z-index: 1;
}
.about_blob {
  position: absolute;
  bottom: -160px;
}

.services {
  margin-top: 200px;
  margin-bottom: 100px;
}
.services_wrap_who {
  display: flex;
}
.services_wrap_who_p {
  font-family: Roboto-Bold;
  color: #5D62B5;
  font-size: 12px;
}
.services_carts {
  display: flex;
}
.services_carts_cart {
  width: 324px;
  height: 148px;
  display: flex;
}
.services_carts_cart_img {
  width: 63px;
  height: 63px;
  padding-right: 10px;
}
.services_carts_cart_frame {
  padding-right: 10px;
}
.services_carts_cart_frame_title {
  color: #F2726F;
  font-family: Roboto-Black;
  font-size: 19px;
  line-height: 26px;
}
.services_carts_cart_frame_text {
  font-family: Roboto-Regular;
  color: #4B4B4B;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15em;
}

.Little-dog {
  position: relative;
  height: 500px;
  background-color: #29C3BE;
}
.Little-dog_frame {
  position: absolute;
  top: 134px;
  right: 220px;
  width: 411px;
  height: 126px;
  color: #fff;
  z-index: 5;
}
.Little-dog_frame_text {
  margin-bottom: 50px;
}
.Little-dog_blob {
  position: absolute;
  left: 10px;
  z-index: 1;
}
.Little-dog_dots {
  position: absolute;
  left: 20px;
  top: 126px;
}
.Little-dog_dog {
  top: 44px;
  left: 10px;
  position: absolute;
  z-index: 2;
}
.Little-dog_line {
  position: absolute;
  right: 185px;
}
.Little-dog_ball {
  position: absolute;
  top: 134px;
  right: 128px;
}/*# sourceMappingURL=style.css.map */